#persistent-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Full height */
    width: 500px; /* Width of the sidebar */
    border-right: 1px solid #ccc;
    z-index: 9999999;
    overflow: hidden; /* Hide overflow in collapsed state */
    transform: translateZ(0);
    transition: height 0.3s ease; /* Smooth height transition */
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1), 6px 0 20px rgba(0, 0, 0, 0.1); /* Drop shadow to the right */
}


#sidebar-header {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #353535;
    color: #fff;
    cursor: pointer;
}

#sidebar-content {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    height: calc(100% - 50px);
    overflow-y: auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    transition: margin-left 0.3s ease;
}

h1 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    text-align: center;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 18px;
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 0;
}

form label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form textarea,
form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
}

form textarea {
    height: 50px;
    resize: vertical;
}

form textarea.large {
    height: 100px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sidebar-content ul,
#sidebar-content ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#sidebar-content ul li a,
button {
    display: block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    font-weight: bold;
    margin-bottom: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

#sidebar-content ul li a:hover,
button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#sidebar-content ul li a:active {
    background-color: #004085;
    border-color: #004085;
}

#sidebar-content ul li a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#sidebar-content ul.nested {
    margin-left: 10px;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 14px;
}

textarea {
    height: 80px;
}

textarea.large {
    height: 160px;
}

.section h2 {
    font-size: 20px;
    color: #333;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 0;
}

div.section {
    padding: 20px 0;
    border-bottom: 2px solid #000;
}

/* Styles for drag functionality */
#persistent-sidebar.dragging {
    cursor: move;
}

/* New styles for tools-list-button */
.tools-list-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Gap between the buttons */
    padding: 0;
    margin: 0;
    list-style: none;
}

.tools-list-button li {
    flex: 1 1 calc(50% - 10px); /* Two items per row with a gap */
    display: flex;
}

.tools-list-button a {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.tools-list-button a:hover {
    background-color: #0056b3;
}

.tools-list-button a:active {
    background-color: #004085;
}

.tools-list-button a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#nofollow-checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#nofollow-checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}